name: Java CI with Maven

on:
  push:
    branches: [ b1 ]
  pull_request:
    branches: [ b1 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Dependencies
      run: mvn dependency:analyze
    - name: Tests
      run: mvn test
  
  undo:
    if: ${{ always() && (needs.build.result=='failure') }}

    needs: build

    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v2
        with:
           ref: ${{ github.event.inputs.branch }}
           fetch-depth: 0 
      - name: Undo Push
        uses: exions/undo-push@v1
        with:
          branch: ${{ github.event.inputs.branch }}
